.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  textarea {
    resize: none;
  }
  
  .btn {
    width: 100%;
  }
  
  .alert-info {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .alert-danger {
    font-size: 1.2rem;
  }
  
  .profile-image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid green;
    border-radius: 50%;
  }
  
  .profile-image {
    transition: transform 0.3s ease;
  }
  
  .profile-image-container:hover .profile-image {
    transform: scale(1.05); /* Agrandit l'image lors du survol */
    opacity: 0.8; /* Applique une légère transparence à l'image */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.34); /* Fond vert transparent */
    color: white;
    padding: 8px 15px;
    border-radius: 50%; /* Pour avoir une forme circulaire */
    visibility: hidden; /* Cache l'overlay par défaut */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .profile-image-container:hover .overlay {
    visibility: visible; /* Affiche l'overlay lors du survol */
    opacity: 1;
  }
  
  .overlay i {
    margin-right: 5px;
  }
  
  .overlay span {
    font-weight: bold;
  }
  
  .project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .project-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .project-card .card-title {
    font-size: 1.25rem;
  }
  
  .project-card .card-text {
    line-height: 1.5;
  }
  
  .project-card .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .project-card .btn:hover {
    background-color: #198754;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .project-card {
      margin-bottom: 1.5rem;
    }
  }
  