<header class="sticky-top shadow-sm py-3" style="background-color: #f6fff5;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <h1 class="text-success fw-bold mb-0" style="cursor: pointer;" routerLink="/">GoFound</h1>
      <!-- Centered Search Bar -->
      <div class="search-bar mx-auto w-50 position-relative">
        <!-- Champ de recherche -->
        <input 
          type="text" 
          class="form-control form-control-lg shadow-sm rounded-pill" 
          placeholder="Search projects..." 
          [(ngModel)]="search" 
          (keyup)="searchProjects()" 
          (focus)="showSuggestions = true" 
          (blur)="hideSuggestionsAfterDelay()">
        
        <!-- Bouton de recherche -->
        <button class="btn search-btn" (click)="searchProjects()">
          <i class="bi bi-search"></i>
        </button>
        
        <div class="suggestion-container">
          <!-- Liste des suggestions -->
          <ul *ngIf="showSuggestions && projectsSuggestions.length || usersSuggestions.length" class="suggestion-list shadow-sm">
            <li *ngIf="search" class="fw-bold text-center">
              Search for "{{ search }}"
            </li>
            <hr class="py-0">
            <!-- Suggestions des projets -->
            <li *ngFor="let project of projectsSuggestions" (click)="selectSuggestion('project',project.id)" style="cursor: pointer;">
              <div class="d-flex align-items-center gap-3">
                <img
                  [src]="imageService.getimageProjectsansMedia(project.image)"
                  alt="Project Image for {{ project.title }}"
                  width="40"
                  height="40"
                  class="rounded"
                />
                <div>
                  <div>{{ project.title }}</div>
                  <div class="text-muted">({{ project.category }})</div>
                </div>
              </div>
            </li>
        
            <hr />
        
            <!-- Suggestions des utilisateurs -->
            <li *ngFor="let user of usersSuggestions" (click)="selectSuggestion('user',user.user__username)" style="cursor: pointer;">
              <div class="d-flex align-items-center gap-3">
                <img
                  [src]="imageService.getimageUsersWithMedia(user.image)"
                  alt="Profile Image of {{ user.user__first_name }} {{ user.user__last_name }}"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <div>{{ user.user__first_name }} {{ user.user__last_name }}</div>
                  <div class="text-muted">({{ user.role }})</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        
          
      </div>
      
      <!-- Conditional Profile or Sign In Button -->
      <div>
        <div *ngIf="userService.isAuthenticated()" class="dropdown">
          <button 
            class="btn p-0  dropdown-toggle" 
            type="button" 
            id="dropdownMenuButton" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            <img [src]="imageService.getimageUser(user.image)" width="40" height="40"  class=" rounded-circle" alt="">
          </button>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 20px;">
            <h5 class="text-center fw-bold">{{user.user.first_name}} {{user.user.last_name}}</h5>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/profile'">Profile</a></li>
            <li><a class="dropdown-item" [routerLink]="'/addProject'" *ngIf="role=='Project Creator'">Add project</a></li>
            <li><a class="dropdown-item" routerLink="myProject" *ngIf="role=='Project Creator'">My Project</a></li>
            <li><a class="dropdown-item" routerLink="myFavorites">My Favorites</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><div class="dropdown-item text-center fw-bold btn" (click)="logout()">Log out</div></li>
          </ul>
        </div>
        
        <button *ngIf="!userService.isAuthenticated()" class="btn btn-outline-success" [routerLink]="'/login'">
          Log In
        </button>
        
    </div>
    </div>
  </header>
  