.title{
    transition: .3s;
}

.title:hover{
    color: green;
    transform: scale(1.03);
}

.investment-container {
    padding: 2rem;
    background-color: #f4f4f9;
    border-radius: 10px;
  
    h2 {
      color: #333;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
  
    .investment-form {
      margin-bottom: 2rem;
  
      .form-group {
        margin-bottom: 1rem;
  
        label {
          font-weight: 600;
          color: #555;
        }
  
        input {
          padding: 0.5rem;
          font-size: 1rem;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
  
        input:focus {
          border-color: green;
          outline: none;
        }
      }
  
      button {
        background-color: green;
        color: white;
        border: none;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: rgb(7, 100, 7);
        }
      }
    }
  
    .investment-card {
      background-color: white;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 1rem;
  
      .investment-details {
        p {
          margin: 0.5rem 0;
          color: #444;
  
          strong {
            font-weight: 600;
            color: #000;
          }
        }
      }
    }
  }
  .progress {
    background: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
  }
  
  .progress-bar {
    background: linear-gradient(90deg, #56ab2f, #a8e063);
    transition: width 0.5s ease;
  }